<!-- use class has-danger in first div -->
<div class="form-group row has-danger">
	<div class="col-xs-6">
		<label for="example-text-input2" class="col-xs-2 col-form-label">پسورد</label>
		<div class="col-xs-10">
			<input class="form-control" type="text" value="Artisanal kale" id="example-text-input2">
			<!-- use the following div to show validation text -->
			<!-- <div class="form-control-feedback">Shit, that username's taken. Try another?</div> -->
		</div>
	</div>
</div>