<!-- Vendor CSS -->
<link rel="stylesheet" href="../../vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../vendor/themify-icons/themify-icons.css">
</head>

<body class="bg-purple">

	<div class="error-message text-xs-center">
		<h1 class="mb-3">404<span><i class="ti-na"></i></span></h1>
		<h5 class="text-uppercase">Forbidden error</h5>
		<div class="error-message-text mb-3">Sorry, you don't have permission to access on this server.</div>
		<a href="index"><button type="button" class="btn btn-outline-white w-min-md">Go to home page</button></a>
	</div>

	<!-- Vendor JS -->
	<script type="text/javascript" src="../vendor/jquery/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="../vendor/tether/js/tether.min.js"></script>
	<script type="text/javascript" src="../vendor/bootstrap4-rtl/js/bootstrap.min.js"></script>