<!-- Vendor CSS -->
<link rel="stylesheet" href="../vendor/bootstrap4-rtl/css/bootstrap.min.css">
<link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../vendor/themify-icons/themify-icons.css">
<link rel="stylesheet" href="../css/core.css">

</head>

<body class="bg-warning">

	<div class="error-message text-xs-center">
		<h1 class="mb-3">404<span><i class="ti-help-alt"></i></span></h1>
		<h5 class="text-uppercase">Page not found!</h5>
		<div class="error-message-text mb-3">Sorry, but the page you were trying to view does not exist.</div>
		<a href="/"><button type="button" class="btn btn-outline-white w-min-md">Go to home page</button></a>
	</div>

	<!-- Vendor JS -->
	<script type="text/javascript" src="../vendor/jquery/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="../vendor/tether/js/tether.min.js"></script>
	<script type="text/javascript" src="../vendor/bootstrap4-rtl/js/bootstrap.min.js"></script>