<!-- Vendor CSS -->
<link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../vendor/themify-icons/themify-icons.css">
</head>

<body class="bg-primary">

	<div class="error-message text-xs-center">
		<h1 class="mb-3">500<span><i class="ti-settings"></i></span></h1>
		<h5 class="text-uppercase">Internal server error.</h5>
		<div class="error-message-text mb-3">Sorry something went wrong. Don't worry, we will fix it soon.</div>
		<a href="index"><button type="button" class="btn btn-outline-white w-min-md">Go to home page</button></a>
	</div>

	<!-- Vendor JS -->
	<script type="text/javascript" src="../vendor/jquery/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="../vendor/tether/js/tether.min.js"></script>
	<script type="text/javascript" src="../vendor/bootstrap4-rtl/js/bootstrap.min.js"></script>