<!DOCTYPE html>
<html lang="en" dir="rtl">

<!-- Mirrored from big-bang-studio.com/neptune/neptune-rtl/pages-sign-up.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Jan 2017 11:12:31 GMT -->

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Title -->
	<title>Neptune</title>

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="../vendor/bootstrap4-rtl/css/bootstrap.min.css">
	<link rel="stylesheet" href="../vendor/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">

	<!-- Neptune CSS -->
	<link rel="stylesheet" href="css/core.css">

	<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body style=" background-color:white;">

	<div class="container-fluid">
		<div class="sign-form">
			<div class="row">
				<div class="col-md-4 offset-md-4 px-3">
					<div class="box b-a-0" style="border-radius: 1%;">
						<div class="p-2 text-xs-center">
							<div class="mb-2"><img src="img/kpu_0.png" title="" style="width: 130px;"></div>
							<h5>پوهنتون پولی تخنیک کابل</h5>
							<h5>سیستم مدیریت اطلاعات لیلیه</h5>
						</div>
						<form action="/login" method="post" class="form-material">
							<div class="form-group">
								<input type="text" class="form-control" name="email" id="exampleInputUserName"
									placeholder="ایمیل">
							</div>
							<div class="form-group">
								<div class="input-group">
									<input type="password" name="password" class="form-control"
										id="exampleInputPassword" placeholder="کلمه عبور" autocomplete="off">
								</div>
							</div>
							<div class="form-group clearfix">
								<div class="float-xs-left" style="padding-right: 5px;">
									<label class="custom-control custom-checkbox">
										<input type="checkbox" name="remember" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description font-90">مرا بخاطر بسپار</span>
									</label>
								</div>
								<div class="float-xs-right" style="padding-left: 5px;">
									<a class="text-black font-90" href="/forgot-password">کلمه عبور را فراموش کرده ام!</a>
								</div>
							</div>
							<div class="form-group" style="padding: 5px;">
								<button type="submit" class="btn btn-primary btn-block">ورود</button>
							</div>
							<br>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Vendor JS -->
	<script type="text/javascript" src="../vendor/jquery/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="../vendor/tether/js/tether.min.js"></script>
	<script type="text/javascript" src="../vendor/bootstrap4-rtl/js/bootstrap.min.js"></script>
</body>

<!-- Mirrored from big-bang-studio.com/neptune/neptune-rtl/pages-sign-up.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Jan 2017 11:12:31 GMT -->

</html>