



<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Title -->
	<title><%= pageTittle %></title>

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="../../../vendor/bootstrap4-rtl/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../vendor/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="../../../vendor/font-awesome/css/font-awesome.min.css">

	<!-- Neptune CSS -->
	<link rel="stylesheet" href="../../../css/core.css">

</head>

<body style=" background-color:white;">

	<div class="container-fluid">
		<div class="sign-form">
			<div class="row">
				<div class="col-md-8 offset-md-2 px-3">
					<div class="box b-a-0" style="border-radius: 1%;">
						<div class="p-2 text-xs-center">
							<div class="mb-2"><img src="../../../img/kpu_0.png" title="" style="width: 130px;"></div>
							<h5>پوهنتون پولی تخنیک کابل</h5>
							<h5>سیستم مدیریت اطلاعات لیلیه</h5>
						</div>
						<form action="/ressetPassword/<%= email %>" method="POST">
                            <br>
							<% if(typeof auth !== 'undefined' && auth === 'authorized'){ %>
                            <div class="form-group row">
                                <div class="col-xs-2"></div>
                                <label class="col-xs-2 col-form-label">رمز</label>
                                <div class="col-xs-5">
                                    <input class="form-control" type="password" name="password" maxlength="24" autocomplete="off" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-2"></div>
                                <label class="col-xs-2 col-form-label">تکرار رمز</label>
                                <div class="col-xs-5">
                                    <input class="form-control" type="password" name="confirmPassword" maxlength="24" autocomplete="off" >
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-xs-2"></div>
                                <label class="col-xs-2 col-form-label">تغییر رمز</label>
                                <div class="col-xs-5">
                                    <button type="submit" class="btn btn-primary">تغییر</button>
                                </div>
                            </div>
							<% }else { %>
								<div>
									<p>دسترسی شما محدود گردیده است</p>
									<a href="/login">برگشت به صحفه</a>
								</div>
							<% } %>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Vendor JS -->
	<script type="text/javascript" src="../../../../vendor/jquery/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="../../../../vendor/tether/js/tether.min.js"></script>
	<script type="text/javascript" src="../../../../vendor/bootstrap4-rtl/js/bootstrap.min.js"></script>
</body>

<!-- Mirrored from big-bang-studio.com/neptune/neptune-rtl/pages-sign-up.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Jan 2017 11:12:31 GMT -->

</html>